.nav{
    margin: 25px 50px 75px 100px;
    border: 1px solid;
    background: lightcoral;
}
/* As margens são representadas sempe e sentido anti-horário, ou seja, cima, diretira, baixo e esquerda */
.section{
    margin: 25px 50px 75px;
    border: 2px solid red;
    background: aquamarine
}
.article{
    margin: 25px 50px;
    border: 1px green;
    background: rosybrown;
}
.footer{
margin: auto;
border: 1px solid yellowgreen ;
width: 300px;    
/* width é o tamanho da borda */
background: yellow;
}
